<link rel="stylesheet" href="/css/Footer.css">

<!--------------- Footer ----------------->
<footer>
    <section>
        <div class="space-prefooter"></div>
        <div id="footer">
            <img src="/imgs/wave2.png" class="footer-wave" alt="Uma onda separa o footer do resto da página.">
            <div class="container">
                <div class="row">
                    <div class="col text-center m-3">
                        <h3 class="footer-title">ACOMPANHE O PROJETO PELAS REDES SOCIAIS</h3>
                    </div>
                </div>
            </div>


            <div class="container mx-auto">
                <div class="row text-center p-3">
                    <div class="d-flex justify-content-center icones">
                        <a href="https://www.tiktok.com/@projeto_maosnamassa" target="_blank" class="icon-link">
                            <img src="/imgs/tiktok.png" class="m-3 icon" title="TikTok">
                        </a>
                        <a href="https://www.instagram.com/projeto_maosnamassa/" target="_blank" class="icon-link">
                            <img src="/imgs/instagram.png" class="m-3 icon" title="Instagram">
                        </a>
                        <a href="#" target="_blank" class="icon-link">
                            <img src="/imgs/mail.png" class="m-3 icon" title="Email">
                        </a>
                        <a href="https://www.youtube.com/@projetomaosnamassa8265" target="_blank" class="icon-link">
                            <img src="/imgs/youtube.png" class="m-3 icon" title="YouTube">
                        </a>
                        <a href="#" target="_blank" class="icon-link">
                            <img src="/imgs/linkedin.png" class="m-3 icon" title="LinkedIn">
                        </a>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col text-center p-3">
                        <h3>INSCREVA-SE PARA RECEBER NOTÍCIAS VIA EMAIL:</h3>
                    </div>
                </div>


                <div id="login">
                    <div class="container">
                        <form class="d-flex w-100">
                            <div class="flex-fill me-3 ps-1">
                                <label for="footer-nome1" class="form-label">Nome</label>
                                <input type="text" id="footer-nome1" placeholder="Ex.: João"
                                    class="form-control my-1 larger-input rounded-4">
                            </div>
                            <div class="flex-fill pe-1">
                                <label for="footer-nome2" class="form-label">Sobrenome</label>
                                <input type="text" id="footer-nome2" placeholder="Ex.: Silva"
                                    class="form-control my-1 larger-input rounded-4">
                            </div>
                        </form>

                        <form class="col">
                            <div class="flex-fill px-1">
                                <label for="footer-email" class="form-label mt-3">Endereço de e-mail</label>
                                <input type="text" id="footer-email" placeholder="Ex.: joaosilva@gmail.com"
                                    class="form-control larger-input rounded-4">
                            </div>
                        </form>

                        <div class="row">
                            <div class="col d-flex justify-content-center mt-4">
                                <button class="inscreverse" title="Inscrever-se"
                                    alt="Inscrever-se em nossa newsletter.">Inscrever-se</button>
                            </div>
                        </div>

                        <div class="space-footer"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!------------------------ Rodaé/Contatos ------------------------>
    <section>
        <div id="post_footer">
            <div class="container-fluid m-0 p-0 justify-content-center">
                <div class="row align-items-center justify-content-center m-0 p-0">
                    <!-- Coluna 1: Termos e Políticas -->
                    <div class="col-12 col-md-4 text-start text-md-start justify-content-center text-center">
                        <a target="_blank" href="#" title="Acesse aos nossos termos de uso"
                            class="justify-content-center mt-2 text-light info">Termos de Uso</a>

                        <h1></h1>
                        <a target="_blank" href="/Certificacoes" title="Acesse as nossas certificações"
                            class="justify-content-center mt-2 text-light info">Certificações</a>
                        <h1></h1>
                        <a target="_blank" href="/PoliticaDePrivacidade" title="Acesse a nossa política de privacidade."
                            class="justify-content-center mt-2 text-light info">Política de Privacidade</a>
                    </div>

                    <!-- Coluna 2: Imagem Central -->
                    <div class="col-4 col-md-2 text-center mb-3 mb-sm-0 mx-sm-3">
                        <img type="button" src="/imgs/MnamBranco.png" class="logo_footer" href="/Home"
                            title="Voltar para Home"
                            alt="Logo do Mãos Na Massa com o slogan: 'mãos na massa, realizando sonhos tijolo por tijolo.'">
                    </div>

                    <!-- Coluna 3: Contatos -->
                    <div class="col-12 col-md-4 text-end text-md-end justify-content-center text-center">
                        <h1 class="info">E-mail:</h1>
                        <a class="justify-content-center fw-medium text-light info"
                            href="mailto:contato@maosnamassa.org"
                            title="Enviar um e-mail para nós.">contato@maosnamassa.org</a>
                        <h1 class="mt-3 info">Telefone:</h1>
                        <a class="justify-content-center fw-medium text-light info" href="tel:5511999510110"
                            title="Ligue para nós.">+55 (11) 99951-0110</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------------------------ Rodaé/Contatos ------------------------>





    <!-- WIDGET DE ACESSIBILIDADE -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    
    

    <script>
        (function(d){
          var s = d.createElement("script");
          /* uncomment the following line to override default position*/
          /* s.setAttribute("data-position", 3);*/
          /* uncomment the following line to override default size (values: small, large)*/
          /* s.setAttribute("data-size", "small");*/
          /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
          /* s.setAttribute("data-language", "language");*/
          /* uncomment the following line to override color set via widget (e.g., #053f67)*/
          /* s.setAttribute("data-color", "#053e67");*/
          /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
          /* s.setAttribute("data-type", "1");*/
          /* s.setAttribute("data-statement_text:", "Our Accessibility Statement");*/
          /* s.setAttribute("data-statement_url", "http://www.example.com/accessibility")";*/
          /* uncomment the following line to override support on mobile devices*/
          /* s.setAttribute("data-mobile", true);*/
          /* uncomment the following line to set custom trigger action for accessibility menu*/
          /* s.setAttribute("data-trigger", "triggerId")*/
          s.setAttribute("data-account", "8CDSXxOB9a");
          s.setAttribute("src", "https://cdn.userway.org/widget.js");
          (d.body || d.head).appendChild(s);
        })(document)
        </script>
        <noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
      



    <!-- WIDGET DE ACESSIBILIDADE -->