
    <link rel="stylesheet" href="Footer.css">
    
    <!--------------- Footer ----------------->
    <section>
        <div id="footer">
            <img src="imgs/wave2.png" class="footer-wave">
            <div class="container">
                <div class="row">
                    <div class="col text-center m-3">
                       <h3 class="footer-title">ACOMPANHE O PROJETO PELAS REDES SOCIAIS</h3>
                    </div>
                </div>
            </div>
    
            <div class="container">
                <div class="row text-center p-3">
                    <div class="d-flex justify-content-center icones">
                        <img src="imgs/tiktok.png" class="m-3" type=button href="https://www.tiktok.com/@projeto_maosnamassa">
                        <img src="imgs/instagram.png" class="m-3" type=button href="https://www.instagram.com/projeto_maosnamassa/">
                        <img src="imgs/mail.png" class="m-3" type=button href="#">
                        <img src="imgs/youtube.png" class="m-3" type=button href="https://www.youtube.com/@projetomaosnamassa8265">
                    </div>
                </div>
            </div>
            
    
            <div class="container">
                <div class="row">
                    <div class="col text-center p-3">
                        <h3>INSCREVA-SE PARA RECEBER NOTÍCIAS VIA EMAIL:</h3>
                    </div>
                </div>
    
    
                <div id="login">
                    <div class="container">
                        <form class="d-flex w-100">
                            <div class="flex-fill me-2 ps-1">
                                <label for="nome1" class="form-label">Nome</label>
                                <input type="text" id="nome1" placeholder="Ex.: João" class="form-control my-1 larger-input">
                            </div>
                            <div class="flex-fill pe-1">
                                <label for="nome2" class="form-label">Sobrenome</label>
                                <input type="text" id="nome2" placeholder="Ex.: Silva" class="form-control my-1 larger-input">
                            </div>
                        </form>
                        
                        <form class="col">
                            <div class="flex-fill px-1">
                                <label for="email" class="form-label mt-3">Endereço de e-mail</label>
                                <input type="text" id="email" placeholder="Ex.: joaosilva@gmail.com" class="form-control larger-input">
                            </div>
                        </form>
                    
                        <div class="row">
                            <div class="col d-flex justify-content-center mt-3">
                                <button class="inscreverse">Inscrever-se</button>
                            </div>
                        </div>
    
                       <div class="space-footer"></div>
    
                    </div>
                </div>
            </div>
        </div>
    </section>