
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}


/* ---------------------------- NAVBAR ------------------------------- */
.navbar{
  margin-top: 50px;
  background-image: linear-gradient(to right,  #2B2F33, #29374C, #234B79);
}

.titulo{
  color: white !important;
}

.brand{
  height: 80px;
  width: 100%;
}

.offcanvas-header{
  background-image: linear-gradient(to right,  #2B2F33, #29374C, #234B79);
}
.offcanvas-title{
  color: white;
  font-size: 70px;
  font-weight: 800;
}
.offcanvas-body{
  background-image: linear-gradient(to right,  #2B2F33, #29374C, #234B79);
}

.navbar-toggler{
  padding: 0px !important;
  margin-right: 10px;
  outline: none !important;
  border: 0px transparent !important;
  font-weight: 300;
}
.navbar-toggler .toggler{
  padding: 0px !important;
  margin: 0px !important;
  font-size: 50px;
  color: white;
  align-items: center;
}



/* Estilo da Navbar para telas grandes */
.navbar-expand-sm .nav-link {
  font-size: 22.5px; 
  font-weight: 500;
  color: white;
  margin-top: 8;
  transition: all 0.3s ease;
}
.navbar-expand-sm .nav-link:hover{
  color: #D6ED4B;
  padding-top: 1px;
  transition: all 0.3s ease;
}
.dropdown{
  outline: none !important;
}
.menu{
  background-image: linear-gradient(to right, #29374C, #234B79);
  transition: all 0.3s ease;
}
.menu-item{
  color: white !important;
  background-color: transparent !important;
  transition: all 0.3s ease;
  font-size: 20px;

}
.menu-item:hover{
  background-color: transparent !important;
  color: #D6ED4B !important;
  transition: all 0.3s ease;
}

.avatar{
  width: 55px;
  margin-top: 2px !important;
}

/* Estilo apenas para o link "AJUDE AGORA" */
.navbar-nav .nav-item .doe-gg {
  background-color: #D6ED4B !important;
  color: #253847 !important;
  border: 4px solid #253847 !important;
  border-radius: 25px !important;
  transition: all 0.s ease !important;
  margin-top: 4px !important;
}
.navbar-nav .nav-item .doe-gg:hover{
  background-color: #253847 !important;
  color: #D6ED4B !important;
  border: 4px solid #D6ED4B !important;
  border-radius: 25px !important;
  padding-top: 8px !important;  
}



/* Estilo da Navbar para telas pequenas */
.d-xl-none .nav-link {
  font-size: 25px;
  font-weight: 600;
  color: white; 
  transition: all 0.3s ease;
  padding-left: 10px;
}
.d-xl-none .nav-link:hover{
  color: #D6ED4B;
  padding-left: 25px;
  font-size: 27px;
}

.voltar {
  font-size: 30px !important;
  font-weight: 100 !important;
}
.doe-pp {
  background-color: #D6ED4B !important;
  color: #253847 !important;
  border: 4px solid #253847 !important;
  border-radius: 25px !important;
  transition: all 0.3s ease !important;
  margin-top: 2px !important;
  text-align: center;
}
.doe-pp:hover{
  transition: all 0.3s ease;
  background-color: #253847 !important;
  color: #D6ED4B !important;
  border: 4px solid #D6ED4B !important;
  border-radius: 25px !important;
  padding-left: 10px !important;
}
/* ------------------------------- NAVBAR ------------------------- */




/* --------------------- banner section ------------------- */

#banner{
background-image: url(imgs/cimentao.jpeg);
background-size: cover;
background-position: 50% 25%;
color: #fff;
padding-top: 0%;
}


.project-title{
    font-size: 100px;
    font-weight: 600;
    padding: 0px;
    margin-top: 50px;
}

.bricks{
    width: 100%;
    padding-right: 20px;
    margin-top: 90px;

}

.wave-img{
  width: 100%;
  margin-top: 280px;
}


#donate .big-donate{
  font-size: 23px;
  font-weight: 600;
  color: #253847;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 3px solid;
  border-color: #234B79;
  border-radius: 18px;
  background-color: #D6ED4B;
  cursor: pointer;
}


#donate .big-donate:hover{
background-color: #253847;
color: #D6ED4B;
border: 3px solid #D6ED4B;
}

li{
  font-weight: 300;
  font-size: 25px;
}

.subtitle{
  font-size: 5vh;
  color: #253847;
  margin-top: 40px;
}

.texto{
  font-weight: 300;
  font-size: 30px;
}








/* -------------- Footer -------------- */
#footer{
  background-image: linear-gradient(to right,  #2B2F33, #29374C, #234B79);
  color: #fff;

}

.footer-wave{
  width: 100%;
}

.footer-title{
  font-weight: 300;
  margin-top: 40px;
}

.email-label{
  font-size: 30px;
}

.icones{
height: 90px;
}


#login input::placeholder{
color: rgb(188, 188, 188);
font-weight: 100;
font-size: 120%;
}

.inscreverse{
background-color: #D6ED4B;
border-radius: 10px;
border: 3px solid;
color: #253847 !important;
padding: 8px;
font-size: larger;
transition: all 0.2s ease;
height: 55px;
width: 100%;
}

.larger-input {
  height: 50px; /* Ajuste conforme a altura desejada */
  font-size: 1.2rem; /* Opcional: aumenta o tamanho da fonte proporcionalmente */
}

.inscreverse:hover{
background-color: #253847 !important;
color: #D6ED4B !important;
border: 3px solid #D6ED4B;
}

.space-footer{
height: 80px;
background-color: transparent;
}