
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}

#nav-bar{
  position: top;
  padding-top: 70px;
  top: 0;
  z-index: 10;
}

/* Navbar background and layout */
.navbar{
  background-image: linear-gradient(to right,  #2B2F33, #29374C, #234B79);
}

.navbar-brand img{
  height: 85px;
  padding-left: 15px;
  padding-top: 0px;
  color: white;
}

.navbar-nav a{
color: white;
font-weight: 600;
text-align: right;
font-size: 95%;
padding-right: 20px;
margin-top: 7px;
}

a.contato{
margin-right: 0px !important;
}

a.mini-donate{
background-color: #D6ED4B;
border-radius: 18px;
border: 3px solid;
color: #253847 !important;
margin-top: 3px !important;
}

a.mini-donate:hover{
background-color: #253847 !important;
color: #D6ED4B !important;
border: 3px solid #D6ED4B;
}


.navbar-toggler{
  outline: none !important;
  border: 0px !important;
  font-weight: 300;
  margin-right: 0px;
}

.navbar-toggler .toggler{
font-size: 50px;
color: white;
align-items: center;
}

/* --------------------- banner section ------------------- */

#banner{
background-image: url(imgs/cimentao.jpeg);
background-size: cover;
background-position: 50% 25%;
color: #fff;
padding-top: 0%;
}


.project-title{
    font-size: 60px;
    font-weight: 600;
    padding: 0px;
    margin-top: 50px;
}

.bricks{
    width: 100%;
    padding-right: 20px;
    margin-top: 90px;

}

.wave-img{
  width: 100%;
  margin-top: 280px;
}


#donate .big-donate{
    font-size: 23px;
    font-weight: 600;
    color: #253847;
    width: 100%;
    margin-top: 18px;
    border: 3px solid;
    border-color: #234B79;
    border-radius: 18px;
    background-color: #D6ED4B;
    cursor: pointer;
}


#donate .big-donate:hover{
background-color: #253847;
color: #D6ED4B;
border: 3px solid #D6ED4B;
}










/* -------------- Footer -------------- */
#footer{
  background-image: linear-gradient(to right,  #2B2F33, #29374C, #234B79);
  color: #fff;

}

.footer-wave{
  width: 100%;
}

.footer-title{
  font-weight: 300;
  margin-top: 40px;
}

.email-label{
  font-size: 30px;
}

.icones{
height: 90px;
}


#login input::placeholder{
color: rgb(188, 188, 188);
font-weight: 100;
}

.inscreverse{
background-color: #D6ED4B;
border-radius: 10px;
border: 3px solid;
color: #253847 !important;
padding: 8px;
font-size: larger;
transition: all 0.2s ease;
}

.inscreverse:hover{
background-color: #253847 !important;
color: #D6ED4B !important;
border: 3px solid #D6ED4B;
}

.space-footer{
height: 80px;
background-color: transparent;
}