

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }
  
  body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }
  
  #nav-bar{
    position: top;
    padding-top: 70px;
    top: 0;
    z-index: 10;
  }
  
  /* Navbar background and layout */
  .navbar{
    background-image: linear-gradient(to right,  #2B2F33, #29374C, #234B79);
  }
  
  .navbar-brand img{
    height: 85px;
    padding-left: 15px;
    padding-top: 0px;
    color: white;
  }
  
  .navbar-nav a{
  color: white;
  font-weight: 600;
  text-align: right;
  font-size: 95%;
  padding-right: 20px;
  margin-top: 7px;
  }
  
  a.contato{
  margin-right: 0px !important;
  }
  
  a.mini-donate{
  background-color: #D6ED4B;
  border-radius: 18px;
  border: 3px solid;
  color: #253847 !important;
  margin-top: 3px !important;
  }
  
  a.mini-donate:hover{
  background-color: #253847 !important;
  color: #D6ED4B !important;
  border: 3px solid #D6ED4B;
  }
  
  
  .navbar-toggler{
    outline: none !important;
    border: 0px !important;
    font-weight: 300;
    margin-right: 0px;
  }
  
  .navbar-toggler .toggler{
  font-size: 50px;
  color: white;
  align-items: center;
  }



  /* -------------------- Corpo --------------------- */
  .image-container {
    width: 100%; /* Largura total do contêiner */
    height: 200px; /* Altura fixa */
    overflow: hidden; /* Oculta qualquer parte da imagem que ultrapasse o contêiner */
    display: flex; /* Flexbox para centralizar a imagem */
    flex-direction: column; /* Coloca o título acima da imagem */
    align-items: center; /* Alinha horizontalmente ao centro */
    justify-content: center; /* Alinha verticalmente ao centro */
    background-color: #f8f9fa; /* Cor de fundo (opcional) */
    border: 3px solid #234B79; /* Borda (opcional) */
    border-radius: 25px; /* Borda arredondada */
}

.image-container h3 {
    padding-top: 50px;
}

.image-container img {
    max-height: 100%; /* Limita a altura máxima da imagem ao contêiner */
    max-width: 100%; /* Limita a largura máxima da imagem ao contêiner */
    object-fit: contain; /* Garante que a imagem se encaixe no contêiner */
    padding-bottom: 50px;
}
