<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleHome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="imgs/MnaMBranco.png">
    <title>Home - Mãos Na Massa</title>
</head>
<body>
    <!------------------------ Header ------------------------->
    <%- include('partials/Header') %>    
    <!------------------------ Header ------------------------->

    <!------------------------Banner Section------------------------->
    
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-10 text-left">
                    <h1 class="project-title">Mãos Na Massa</h1>
                    <p class="descricao">Realizando sonhos, tijolo por tijolo!</p>
                </div>
            </div>
            <div class="col-5 text-center d-none d-xl-flex">
                <button href="pick" type="button" class="col-2 big-donate">AJUDE AGORA!</button>
            </div>
        </div>
        <img src="imgs/wave1.png" class="wave-img">
    </section>

    <!-------------------------- Services ---------------------------->
    
    <section id="donate">
        <div class="container text-center d-xl-none">
            <a href="pick" type="button" class="btn big-donate">AJUDE AGORA!</a>
        </div>
    </section>
    


    <section>
        <div id="corpo">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 justify-content-center">
                        
                        <h1 class="display-5 col justify-content-center align-items-center text-center">Nossa missão, visão e valores</h1>

                        <div class="row align-items-center mt-5">
                            <img src="imgs/missao.png" class="col-xxl-2 col-xl-3 col-lg-3 col-4 missao-img">
                            <div class="col text-justify texto">Promover a dignidade e a inclusão social por meio da construção e adaptação de moradias e espaços comunitários para pessoas com deficiência e/ou em situação de vulnerabilidade social. Mobilizamos jovens e adolescentes voluntários para capacitar e conscientizar as novas gerações sobre os desafios da acessibilidade no Brasil, criando ambientes seguros e acessíveis que transformam vidas.</div>
                        </div>
                        <div class="row align-items-center mt-5">
                            <div class="col text-justify texto">Ser uma ONG de referência nacional em acessibilidade e inclusão social, reconhecida por transformar a realidade de pessoas em situação de vulnerabilidade, ao garantir que todos tenham acesso a moradias dignas e ambientes seguros, contribuindo para um Brasil mais justo e inclusivo.</div>
                            <img src="imgs/visao.png" class="col-xxl-2 col-xl-3 col-lg-3 col-4 missao-img">
                        </div>
                        <div class="row align-items-center mt-5">
                            <img src="imgs/valores.png" class="col-xxl-2 col-xl-3 col-lg-3 col-4 missao-img">
                            <div class="col text-justify texto">
                                <ul>
                                    <li>Inclusão e Acessibilidade: Promovemos inclusão social, garantindo ambientes seguros e adaptados a todos.</li>
                                    <li>Dignidade e Respeito: Defendemos a dignidade e o respeito, valorizando a individualidade e bem-estar de cada pessoa.</li>
                                    <li>Empatia e Solidariedade: Atuamos com empatia e mobilizamos a comunidade em apoio aos mais necessitados.</li>
                                    <li>Transformação Social: Nos dedicamos à transformação positiva das comunidades que atendemos, impactando tanto os beneficiários quanto os voluntários, gerando mudanças significativas e duradouras.</li>
                                    <li>Transformação Social: Buscamos mudanças positivas e duradouras para beneficiários e voluntários.</li>
                                    <li>Sustentabilidade: Adotamos práticas conscientes para maximizar o impacto social e reduzir o ambiental.</li>
                                    <li>Resiliência: Superamos desafios com inovação para promover inclusão e bem-estar.</li>
                                </ul>
                            </div>
                        </div>
    
                    
                        <!---------------------- Carrosel ---------------------->

                        <h1 class="text-center subtitle">Nossos Projetos</h1>
                        <div id="carouselExampleCaptions" class="carousel slide mb-5" data-bs-ride="true" data-bs-touch="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="imgs/tiozinho.png" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3 class="cid-luciane-title">Cid e Luciane</h3>
                                        <h5>Conheça a história de Sid e Luciane, cuja vida foi transformada graças ao nosso trabalho.</h5>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <img src="imgs/tiozinho.png" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3 class="cid-luciane-title">Cid e Luciane</h3>
                                        <h5>Conheça a história de Sid e Luciane, cuja vida foi transformada graças ao nosso trabalho.</h5>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <img src="imgs/tiozinho.png" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3 class="cid-luciane-title">Cid e Luciane</h3>
                                        <h5>Conheça a história de Sid e Luciane, cuja vida foi transformada graças ao nosso trabalho.</h5>
                                    </div>
                                </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                            </div>
                        </div>
                        <!---------------------- End Carrosel ---------------------->   
                        
                        
                        <div class="container">   
                            <div class="row">    
                                <div class="col py-5">
                                    <h1 class="text-center">Aqui vai os patrocinadores</h1>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>        
            </div>
        </div>
    </section>

    <!------------------------ Footer ------------------------->
    <%- include('partials/Footer') %>    
    <!------------------------ Footer ------------------------->
    
</body>
</html>