<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylePoliticaDePrivacidade.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="imgs/MnaMBranco.png">
    <title>Política de Privacidade - Mãos Na Massa</title>
</head>
<body>
    <!------------------------ Header ------------------------->
    <%- include('partials/Header') %>    
    <!------------------------ Header ------------------------->

    <section id="corpo">
        <div class="container">
            <div class="row">
                <h1 class="text-center my-4 tituloPolitica">Política de privacidade:</h1>
            </div>
                <div class="col-fluid w-100 text-center">
                    <h2 class="subtitle">Introdução:</h2>
                    <p class="texto">Esta política de privacidade tem como objetivo explicar de forma clara e transparente como o site 
                        do Projeto Mãos Na Massa faz uso de dados coletados dos usuários, assim como armazenamos e protegemos os dados.
                        Nosso compromisso é garantir a segurança e privacidade dos seus dados, em conformidade com a 
                        <a target="_blank" href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" title="Clique para acessar o texto completo da Lei Geral de Proteção de Dados Pessoais (LGPD)">
                            Lei n&deg; 13.709, conhecida como
                            Lei Geral de Proteção de Dados Pessoais(LGPD).
                        </a>
                    </p>
                    <h2 class="subtitle">Quais Dados Coletamos:</h2>
                    <p class="texto"> Coletamos as seguintes informações durante seu cadastro:
                        <ul>
                            <li class="points"><strong>Nome e Sobrenome</strong>: Para personalização das interações com o usuário.</li>
                            <li class="points"><strong>E-mail</strong>: Para identificação e comunicação de informações importantes.</li>
                            <li class="points"><strong>Senha</strong>: Para autenticação de usuário na plataforma.</li>
                        </ul>
                    </p>
                    <p class="texto">Estas informações são visíveis apenas para <strong>você</strong> e <strong>administradores do site</strong>.</p>
                    <p class="texto">Também oferecemos a opção de receber notícias e atualizações do projeto via e-mail, sem necessidade de cadastro.
                        Neste caso, coletamos as seguintes informações:
                        <ul>
                            <li class="points"><strong>Nome e Sobrenome</strong></li>
                            <li class="points"><strong>E-mail</strong></li>
                        </ul>
                    </p>
                    <p class="texto">Estes dados são coletados apenas para o <strong>envio de notícias e atualizações sobre o projeto</strong>.</p>
                    <h2 class="subtitle">Como Coletamos e Armazenamos Seus Dados:</h2>
                    <p class="texto">Coletamos seus dados quando você: 
                        <ul>
                            <li class="points"><strong>Realiza o cadastro</strong>.</li>
                            <li class="points"><strong>Se inscreve para receber nossa newsletter</strong>.</li>
                        </ul>
                    </p>
                    <p class="texto">Os dados coletados são armazenados de maneira segura. Os dados são <strong>criptografados</strong>, e
                        são apenas acessíveis a <strong>pessoas autorizadas</strong>, garantindo sua privacidade e segurança.</p>
                    <h2 class="subtitle">Seus Direitos:</h2>
                    <p class="texto">Você tem o direito de <strong>acessar</strong> os dados que mantemos sobre você, 
                        <strong>corrigir</strong> informações, <strong>solicitar a exclusão</strong> ou <strong>transferência</strong> dos seus dados
                        e <strong>revogar o consentimento dado para seu uso</strong>, sempre que quiser.
                    </p>
                    <p class="texto">Para exercer estes direitos, entre em contato conosco pelos <strong>meios disponibilizados nesta política</strong>.</p>
                    <h2 class="subtitle">Uso de Cookies:</h2>
                    <p class="texto">Nosso site utiliza cookies <strong>exclusivamente para autenticação</strong>.</p>
                    <p class="texto">Se preferir, você pode configurar seu navegador para <strong>rejeitar cookies</strong>.
                        Porém, isso pode quebrar algumas funcionalidades do site(como log-in e cadastro).</p>
                    <p class="texto">Para mais informações ou dúvidas sobre o uso de cookies, entre em contato conosco pelos <strong>meios disponibilizados nesta política</strong>.</p>
                    <h2 class="subtitle">Meios de Contato:</h2>
                    <p class="texto">Sinta-se livre para entrar em contato sobre qualquer dúvida em nosso:
                        <ul>
                            <li class="points"><strong>E-mail</strong>: <a href="mailto:contato@maosnamassa.org">contato@maosnamassa.org</a></li>
                            <li class="points"><strong>Telefone</strong>: +55 (11) 99951-0110</li>
                        </ul>
                    </p>
                    <p class="texto">Se preferir, também pode nos contatar por meio de nossas <strong>redes sociais</strong>.</p>
                </div>
            </div>
        </div>
    </section>

<!--------------------- End of BodyTexts ---------------------->


    <!------------------------ Footer ------------------------->
    <%- include('partials/Footer') %>    
    <!------------------------ Footer ------------------------->
    
</body>
</html>