* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}



/* -------------------- Corpo --------------------- */

.get_help_title {
    color: #234B79;
}

.icone {
    font-size: 250px !important;
}


.caixa {
    background-color: #29374C;
    /* Começa com fundo azul */
    height: 380px;
    border-radius: 50px;
    border: 8px solid transparent;
    /* Bordas azuis */
    transition: all 0.3s ease;
    text-decoration: none !important;
}

.caixa:hover {
    background-color: transparent;
    /* Fundo fica transparente no hover */
    border: 8px solid #29374C;
    /* A borda desaparece no hover */
    transition: all 0.4s ease;
}

/* Novo código para garantir que o ícone e o título fiquem azuis inicialmente e brancos no hover */
.caixa .icone {
    color: whitesmoke;
    transition: all 0.4s ease;
    text-decoration: none !important;
    /* Cor branca para o ícone inicialmente */
}

.caixa .participacao {
    color: whitesmoke;
    transition: all 0.4s ease;
    text-decoration: none !important;
    /* Cor branca para o título inicialmente */
}

/* No hover, o ícone e o título ficam com cor azul */
.caixa:hover .icone {
    color: #29374C;
    transition: all 0.4s ease;
    /* Cor azul para o ícone */
}

.caixa:hover .participacao {
    color: #29374C;
    transition: all 0.4s ease;
    /* Cor azul para o título */
}