
* {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }

  .doacao{
    color: #234B79;
  }

  .formas_doacao, .desc_doacao, .pay_box{
    color: #253847;
  }

.accordion-item{
  border: none !important;
  outline: none !important;
}

.pay_box{
    background-color: #c5c5c561 !important;
    outline: none !important;
    border: none !important;
}

.payment-option{
    color: #253847 !important;
    background-color: #e8e8e8 !important;
    transition: all 0.3s ease !important;
    font-weight: 500 !important;
    box-shadow: 3px 4px 10px rgba(126, 126, 126, 0.6) !important;
    border: solid 5px transparent !important;
    transition: all 0.2s ease;

}
.payment-option:hover{
  box-shadow: 3px 4px 10px rgba(126, 126, 126, 0.2) !important;
  transition: all 0.2s ease;
}

.payment-option.active{
    color: #D6ED4B !important;
    background-color: #253847 !important;
    border: solid 5px #D6ED4B !important;
}


.card{
  border: 5px solid #253847 !important;
  background-color: #e8e8e8 !important;
  box-shadow: 3px 4px 20px rgba(126, 126, 126, 0.7) !important;
  transition: all 0.2s ease;
}
.card:hover{
  box-shadow: none !important;
  transition: all 0.2s ease;
}