
* {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }

  .accordion-item{
    border-radius: 25px !important;
    overflow: hidden;
    border: 1px solid #234a793b !important;
    margin-bottom: 20px;
    transition: all 0.4s ease !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25) !important;
  }
  .accordion-item:hover{
    border: 1px solid transparent;
    transition: all 0.4s ease !important;
    box-shadow: none !important;
  }
  .accordion-button:not(.collapsed) {
    background-color: #234A79 !important; /* Mantém azul quando ativo */
    color: white !important; /* Mantém o texto branco quando ativo */
    border: 1px solid #234A79 !important;
}

  

  .title_faq{
    color: #234A79;
  }


  .pergunta{
    background-color: rgba(194, 194, 194, 0.30) !important;
    transition: all 0.3s ease !important;
    color: #1a3f6c !important;
  }  
  button{
    font-size: 18px !important;
  }


  .resposta_faq{
    font-weight: 400;
    font-size: 18px;
    padding-top: 6px;
    color: #234A79;
  }


  .ainda_tem_duvidas{
    color: #1a3f6c;
    font-size: 30px;
  }

  .contatos{
    color: #234A79;
    font-size: 20px;
  }

  .saiba_mais{
    font-weight: 300;
    font-size: larger;
  }




  .contato{
    background-color: #D6ED4B;
    border-radius: 40px !important;
    border: 3px solid;
    color: #253847 !important;
    font-size: 25px !important;
    transition: all 0.2s ease;
    font-weight: 600;
    width: 80%;
    }

  .contato:hover{
    background-color: #253847 !important;
    color: #D6ED4B !important;
    border: 3px solid #D6ED4B;
    }