* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}


/* --------------------Form----------------- */


/* Espaço entre a navbar e a caixa de vidro */

.entrar-title {
    color: #234B79;
}

.glass {
    background-color: rgba(108, 108, 108, 0.173);
    box-shadow: 2px 4px 20px #aaaaaa;
    /* Aumenta a sombra e a torna mais visível */
    border-radius: 35px;
    /* Bordas arredondadas */
    color: white;
    /* Texto branco para contraste */
    border: none !important;
    outline: none !important;
    font-size: larger;
}

.nome_sobrenome_row {
    margin-inline: 2.2rem !important;
}

label {
    color: #253847;
}

.glass input {
    border-radius: 0.8rem !important;
    border: #253847 2px solid !important;
}

.locked_senha{
    background-color: lightgray !important;
    color: dimgray !important;
}

.row .botoes {
    margin-top: 10px;
    padding-bottom: 15px;
}

.confirmar {
    font-size: larger;
    color: #253847;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #D6ED4B;
    border-radius: 15px !important;
    border: #253847 solid 3px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: all 0.2s ease;
    margin-right: 43px !important;
    margin-left: 43px !important;
    margin-top: 15px !important;
}

.confirmar:hover {
    color: #D6ED4B;
    background-color: #253847;
    transition: all 0.2s ease;
}

.deletar {
    font-size: larger;
    color: #DC4C64;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: transparent solid 3px !important;
    border-radius: 15px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: all 0.2s ease;
    margin-right: 43px !important;
    margin-left: 43px !important;
    margin-top: 15px !important;
}

.deletar:hover {
    font-size: x-large;
    color: whitesmoke;
    background-color: #DC4C64;
    transition: all 0.2s ease;
}


.visibility-icon {
    font-size: 30px !important;
    padding: none !important;
}

/* Botão de visibilidade padrão */
.btn-visibility {
    background-color: #57677A !important;
    padding: 12px !important;
    transition: all 0.3s ease;
    color: white !important;
}

/* Visibilidade ativa */
.btn-visibility.visibility-active {
    background-color: #D6ED4B !important;
    /* Verde */
    color: #234B79 !important;
    /* Azul */
}

/* Visibilidade inativa */
.btn-visibility.visibility-inactive {
    background-color: #57677A !important;
    /* Cinza */
    color: white !important;
}



/* Estilizando o botão para mudar a senha (somente o ícone) */
.btn-change-password {
    background-color: transparent;
    border: none;
    padding: 8px !important;
    /* Retira o espaço ao redor do ícone */
    margin-block: 12px !important;
    margin-left: 8px !important;
    border-radius: 1000000px !important;
    color: #234B79 !important;
    font-size: 24px !important;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Efeito de hover no ícone */
.btn-change-password:hover {
    color: #D6ED4B !important;
    /* Cor do hover */
    background-color: #234B79 !important;
}

.modal-header,
.modal-footer {
    border-color: dimgray !important;
}

.btn-close {
    filter: invert(1);
    transition: 0.3s ease;
}

.btn-close:hover {
    transition: 0.3s ease;
}


.cancel_button,
.save_button {
    border-radius: 8px;
    padding-block: 0.4rem;
    padding-inline: 0.45rem;
    transition: 0.3s ease;
    border: none !important;
    margin-top: 20px !important;
}

.cancel_button:hover,
.save_button:hover {
    border-radius: 15px;
    transition: 0.3s ease;
}

/* Estilizando apenas os inputs dentro do modal de alteração de senha */
#changePasswordModal .form-control {
    border: dimgray 1.5px solid !important;
}


.save_button {
    background-color: #D6ED4B;
    color: #234B79;
    transition: all 0.3s ease;
}

.cancel_button {
    background-color: gray;
    color: whitesmoke;
}



.modal_title {
    font-size: 30px;
    font-weight: 300;
}

.delete_absolute {
    font-size: 28px;
    background-color: #DC4C64;
    color: white;
    border: none;
    border-radius: 30px;


}