
* {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }
  
  body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }
 

  .accordion-item{
    border-radius: 25px !important;
    overflow: hidden;
    border: 1px solid #234a793b !important;
    margin-bottom: 20px;
    transition: all 0.3s ease !important;
  }
  .accordion-item:hover{
    border: 1px solid transparent;
    transition: all 0.3s ease !important;
  }
  .accordion-button:not(.collapsed) {
    background-color: #234A79 !important; /* Mantém azul quando ativo */
    color: white !important; /* Mantém o texto branco quando ativo */
    border: 1px solid #234A79 !important;
}

  

  .title_faq{
    color: #234A79;
  }

  .pergunta{
    background-color: rgba(194, 194, 194, 0.25) !important;
    transition: all 0.3s ease !important;
    color: #1a3f6c !important;
  }
  .pergunta:hover{
    background-color: #234A79 !important;
    color: white !important;
    border: 0px transparent solid !important;
    transition: all 0.3s ease !important;

  }  
  button{
    font-size: 18px !important;
  }
  .resposta_faq{
    font-weight: 400;
    font-size: 18px;
    padding-top: 6px;
    color: #234A79;
  }



  .ainda_tem_duvidas{
    color: #1a3f6c;
    font-size: 30px;
  }

  .contatos{
    color: #234A79;
    font-size: 20px;
  }

  .saiba_mais{
    font-weight: 300;
    font-size: larger;
  }




  .contato{
    background-color: #D6ED4B;
    border-radius: 40px !important;
    border: 3px solid;
    color: #253847 !important;
    font-size: 25px !important;
    transition: all 0.2s ease;
    font-weight: 600;
    width: 80%;
    }

  .contato:hover{
    background-color: #253847 !important;
    color: #D6ED4B !important;
    border: 3px solid #D6ED4B;
    }