
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}





/* --------------------- banner section ------------------- */

#banner{
background-image: url(imgs/cimentao.jpeg);
background-size: cover;
background-position: 50% 30%;
color: #fff;
padding-top: 0%;
}


.project-title{
    font-size: 100px;
    font-weight: 600;
    margin-top: 70px;
}

.descricao{
  margin-left: 5px;
  font-size: 31px;
  padding-top: 20px;

}

.bricks{
    width: 100%;
    padding-right: 20px;
    margin-top: 90px;

}

.wave-img{
  width: 100%;
  margin-top: 200px;
}


#donate .big-donate{
  font-size: 23px;
  font-weight: 600;
  color: #253847;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border: 3px solid;
  border-color: #234B79;
  border-radius: 18px;
  background-color: #D6ED4B;
  cursor: pointer;
}
#donate .big-donate:hover{
background-color: #253847;
color: #D6ED4B;
border: 3px solid #D6ED4B;
}

#banner .big-donate{
  font-size: 27px;
  font-weight: 600;
  color: #253847;
  width: 535px;
  padding: 15px;
  margin-top: 20px;
  border: 3px solid;
  border-color: #234B79;
  border-radius: 18px;
  background-color: #D6ED4B;
  transition: all 0.3s ease;
}
#banner .big-donate:hover{
background-color: #253847;
color: #D6ED4B;
border: 3px solid #D6ED4B;
transition: all 0.3s ease;
}

li{
  font-weight: 300;
  font-size: 20px;
}

.subtitle{
  font-size: 5vh;
  color: #253847;
  margin-top: 30px;
}

.texto{
  font-weight: 300;
  font-size: 20px;
}
