

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }
  
  body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }
  



.trabalhos{
  color: #253847;
  font-size: 50px;
}
.titulo-projeto{
  color: #234B79;
}

.data-projeto{
  color: #234B79;
  font-size: larger;
}

.descricao-projeto {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #253847;
  font-size: large;
}

.caixa{
  border-radius: 45px;
  padding: 20px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  border: 3px solid transparent;
}
.caixa:hover{
  background-color: #e6e6e6;
  transition: all 0.3s ease;
  border: 3px dashed #234B79;
}


